openai-whisper
pytest
python-dotenv
Flask
gunicorn
markdown
APScheduler
flask-cors
google-generativeai
google-genai
eyed3
pydantic
feedparser
requests
SQLAlchemy
listparser==0.20
mcp
httpx
boto3
tqdm
python-dateutil
psycopg2-binary
pgvector
